* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  /* margin: 20px 30px 40px 50px; */
  /* margin-top: 20px; */
  /* margin-right: 20px; */
  /* margin-left: 20px;
  margin-bottom: 200px; */
  /* padding: 50px; */

  /* border: 10px solid blue; */
  /* border-top: 10px solid black; */
  /* border-right: none; */

  /* border-radius: 50%; */
  /* border: 10px solid blue; */
  /* border-top-left-radius: 50%;
  border-bottom-right-radius: 50%; */
  /* display: inline-block; */
  background-color: red;

  width: 200px;
  height: 200px;
  /* margin: 0 auto; */

  box-shadow: 2px 3px 5px 5px gray;
  outline: 10px solid black;
  /* margin-top: 20px; */
  border: 20px solid white;
}

.box:hover {
  background-color: blue;
  color: white;
  font-size: 20px;
  box-shadow: 4px 5px 15px 10px gray;
}

/* Inline elementler qebul elemir: margin top, margin bottom, padding top, padding bottom, width, heigth */
span {
  margin-top: 100px;
  width: 500px;
  margin-left: 20px;
  display: inline-block;
}
